-- ==========================================
-- PROJETO: E-CARD DATABASE
-- AUTORA: Maira Neves de Mendonça
-- DATA DE CRIAÇÃO: 2024-06-10
-- DESCRIÇÃO: Estrutura de banco de dados para coleção de cartas Pokémon
-- ==========================================

-- 1. LIMPEZA INICIAL (Garante que o banco comece do zero sem erros)
DROP TABLE IF EXISTS tbl_cards;
DROP TABLE IF EXISTS tbl_collections;
DROP TABLE IF EXISTS tbl_stages;
DROP TABLE IF EXISTS table_types;

-- 2. CRIAÇÃO DAS TABELAS INDEPENDENTES ("PAIS")
CREATE TABLE tbl_collections (
    id SERIAL PRIMARY KEY,
    collectionsetname VARCHAR(100) NOT NULL,
    release_date DATE NOT NULL,
    total_cards_in_collection INT NOT NULL
);

CREATE TABLE tbl_stages (
    id SERIAL PRIMARY KEY,
    stage_name VARCHAR(50) NOT NULL
);

CREATE TABLE table_types (
    id SERIAL PRIMARY KEY,
    type_name VARCHAR (50) NOT NULL
);

-- 3. CRIAÇÃO DA TABELA PRINCIPAL ("FILHO")
CREATE TABLE tbl_cards (
    id SERIAL PRIMARY KEY,
    hp INT,
    name VARCHAR(100) NOT NULL,
    type_id INT,
    stage_id INT,
    info TEXT,
    attack VARCHAR(100),
    damage VARCHAR(10),
    weak VARCHAR(50),
    ressis VARCHAR(50),
    retreat VARCHAR(50),
    cardNumberCollection VARCHAR(20),
    tableconnectionid INT NOT NULL,
    
    -- CONSTRAINTS (Regras de Conexão)
    CONSTRAINT fk_collection 
        FOREIGN KEY (tableconnectionid) 
        REFERENCES tbl_collections (id)
        ON DELETE CASCADE,

    CONSTRAINT fk_type 
        FOREIGN KEY (type_id) 
        REFERENCES table_types (id),

    CONSTRAINT fk_stage 
        FOREIGN KEY (stage_id) 
        REFERENCES tbl_stages (id)
);

-- 4. INSERÇÃO DE DADOS (POPULANDO O BANCO)

-- Inserindo Coleções
INSERT INTO tbl_collections (collectionsetname, release_date, total_cards_in_collection)
VALUES
('Base Set', '1999-01-09', 102),
('Jungle', '1999-06-16', 64),
('Fossil', '1999-10-10', 62),
('Team Rocket', '2000-04-24', 82);

-- Inserindo Tipos
INSERT INTO table_types (type_name) 
VALUES ('Fire'), ('Electric'), ('Grass'), ('Colorless'), ('Water'), ('Fighting');

-- Inserindo Estágios
INSERT INTO tbl_stages (stage_name) 
VALUES ('Basic'), ('Stage 1'), ('Stage 2');

-- Inserindo Cartas (Relacionando com os IDs criados acima)
